# fly.toml app configuration file generated for ben-mea-the-gallery on 2026-02-24T16:37:00+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ben-mea-the-gallery'
primary_region = 'sin'

[build]
  [build.args]
    NEXT_PUBLIC_API_BASE_URL = "https://wedding-card-online-service.fly.dev"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
